# --- Bot Authentication ---
DISCORD_TOKEN=
CLIENT_ID=

# --- Server Configuration ---
GUILD_ID=

# --- Channels & Categories ---
# Category where new ModMail tickets will be created
MODMAIL_CATEGORY_ID=
# Channel for logging events
LOG_CHANNEL_ID=
# Legacy Mod Channel (Optional)
MOD_CHANNEL_ID=

# Welcome Channel
WELCOME_CHANNEL_ID=

# Welcome Bot Config
RULES_CHANNEL_ID=
GENERAL_CHANNEL_ID=

AUTO_ROLE_ID=
